<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEYds0qFk5gwyqDF-G15vFrTR1HX2V1kE</string>
	<key>GCM_SENDER_ID</key>
	<string>463596316812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developItSolutions.appi4Manager</string>
	<key>PROJECT_ID</key>
	<string>observedbyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>observedbyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463596316812:ios:4a3066cfce4847cc7bb3a9</string>
</dict>
</plist>