<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>640</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>639</string>
					<key>Timestamp</key>
					<string>724534988.8702689</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>appi4Manager/ContentViews/User/userDup/UserEditorContDup.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>fileprivate func checkIfUserInAppProfile(studentID: Int) {
</string>
				<key>leading</key>
				<string>}

</string>
				<key>trailing</key>
				<string>    
    print(studentID)
    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>38</string>
					<key>EndingLineNumber</key>
					<string>663</string>
					<key>StartingColumnNumber</key>
					<string>22</string>
					<key>StartingLineNumber</key>
					<string>663</string>
					<key>Timestamp</key>
					<string>724524591.632093</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>appi4Manager/ContentViews/Services/FirestoreManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>writeStudentProf</string>
				<key>leading</key>
				<string>    func writeHandleStudentProfileNew2(studentProfile: StudentAppProfilex)  async  {
        do {
            try await </string>
				<key>trailing</key>
				<string>ileNew2(studentProfile: studentProfile)
            print("add student worked")
        }
</string>
			</dict>
			<key>title</key>
			<string>Find Result:             try await writeStudentProfileNew2(studentProfile: studentProfile)</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>25</string>
					<key>EndingLineNumber</key>
					<string>671</string>
					<key>StartingColumnNumber</key>
					<string>9</string>
					<key>StartingLineNumber</key>
					<string>671</string>
					<key>Timestamp</key>
					<string>724524591.632145</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>appi4Manager/ContentViews/Services/FirestoreManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>writeStudentProf</string>
				<key>leading</key>
				<string>    }
    
    func </string>
				<key>trailing</key>
				<string>ileNew2(studentProfile: StudentAppProfilex) async throws {
        let db = Firestore.firestore()
        let docRef = db.collection("studentProfiles").document("\(studentProfile.id)")
</string>
			</dict>
			<key>title</key>
			<string>Find Result:     func writeStudentProfileNew2(studentProfile: StudentAppProfilex) async throws {</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>552</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>551</string>
					<key>Timestamp</key>
					<string>724534988.870253</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>appi4Manager/ContentViews/User/userDup/UserEditorContDup.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                     let stdntAppProfile = StudentAppProfileManager.makeDefaultfor(user.id, locationId: user.locationId)
</string>
				<key>leading</key>
				<string>                     await imagePicker.loadTransferable2Update(teachAuth: teacherItems.getTeacherAuth(), studentId: user.id)
                     
</string>
				<key>trailing</key>
				<string>                     
                     await studentAppProfileManager.addStudentAppProfile(newProfile: stdntAppProfile)
                     
</string>
			</dict>
			<key>title</key>
			<string>adding a new student and maybe firestore manager needs to be communicated</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
