<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>43</string>
					<key>EndingLineNumber</key>
					<string>40</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>40</string>
					<key>Timestamp</key>
					<string>724644358.707446</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>appi4Manager/ContentViews/subContentView/studentAppProfile/StudentAppProfileWorkingView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    @State var appsAMinfo: Array&lt;Appx&gt; = []</string>
				<key>leading</key>
				<string>    @State private var selectedSession: Session?
    
</string>
				<key>trailing</key>
				<string>
    @State var appsPMinfo: Array&lt;Appx&gt; = []
    @State var appsHomeinfo: Array&lt;Appx&gt; = []
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>567</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>566</string>
					<key>Timestamp</key>
					<string>724647665.964124</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>appi4Manager/ContentViews/subContentView/studentAppProfile/StudentAppProfileWorkingView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func proceesAppCodes() async  {
</string>
				<key>leading</key>
				<string>extension StudentAppProfileWorkingView {
    
</string>
				<key>trailing</key>
				<string>        appsAMinfo.removeAll()
        for appCode in currentDayStudentAppProfile.amSession.apps {
            if let appx = await getAppInfoFor(appCode) {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
